.wd-search-bar-and-tag {
    border: 1px solid lightgray;
    width: 60%;
}

.wd-search-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.wd-search-bar i {
    color: darkgray;
}

.wd-search-bar input {
    flex-grow: 1;
    border: none;
    border-radius: 15px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 40px;
    background-color: lightgray;
    color: darkgray;
}

.fas.fa-search {
    position: absolute;
    left: 20px;
}

.wd-tabs {
    list-style-type: none;
    display: flex;
    padding-left: 20px;
}

.wd-tabs li {
    margin-right: 80px;
}

.wd-tabs li span {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.wd-tabs .wd-selected-tab span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid blue;
}

.wd-image-container {
    position: relative;
    width: 60%;
}

.wd-image-container img {
    width: 100%;
    height: auto;
}

.wd-overlay-text {
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: white;
}

.wd-tuits {
    list-style-type: none;
    padding: 0;
}

.wd-tuit {
    position: relative;
    padding: 10px;
}

.wd-tuit-content {
    color: darkgray;
}

.wd-tuit-content .wd-keyword {
    display: block;
    color: black;
    font-weight: bold;
}

.wd-icon {
    position: absolute;
    top: 10px;
    left: 720px;
}

.wd-tuit-group {
    border: 1px solid lightgray;
    width: 60%;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 12px;
    color: black;
}
.input-field {
    position: relative;
    padding-left: 10px;
}
.icon-border {
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 5px;
}

.img-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    bottom: 280px;
    left: 360px;
    color: white;
}
.wd-tuit-date{
    color: gray;
}